body{
    background-image: url(../images/timg.jpg);
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
}
.left{
    float: left;
}
.right{
    float: right;
    position: absolute;
    top: 15%;
    right: 5%;
    background-color: rgba(255,255, 255, 0.8);
    height: 532px;
    width: 380px;
    border-radius: 30px;
    -webkit-webkit: border radius 30px;
    -moz-webkit: border radius 30px;
    -ms-webkit: border radius 30px;
    -o-webkit: border radius 30px;
    webkit: border radius 30px;
    padding: 50px;
}
.sologan{
    position: absolute;
    top: 50%;
    left: 10%;
}
.sologan h1{
    font-size: 50px;
    color:#fff;
}
.sologan p{
    font-size: 30px;
    color: #fff;
}
.footer{
    position: absolute;
    bottom: 2%;
    left: 5%;
    color: #fff;
}
table,tr,td{
    width: 100%;
}
tr{
    height: 70px;
}
caption{
    font-size: 40px;
    text-align: left;
    font-weight: 700;
}
label{
    margin-right: 5%;
    width: 20%;
}
input{
    color: #ccc;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 75%;
}
.input-min{
    color: #ccc;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 45%;
    margin-right: 5%;
}
.git{
    width: 25%;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    text-align: center;
    height: 40px;
}
.regeist{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: royalblue;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0 20px 0;
}
.check{
    line-height: 14px;
    width: 14px;
    height:14px
}